:root {
    --primary-color: #8f3636;
    --secondary-color: #fff;
    --contrast-color: #a7a4a4;
    --text-color-dark: #333;
    --text-color-light: #fff;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: var(--text-color-dark);
}

.wrapper {
    display: grid;
    /* grid-template-columns: 1fr 3fr 1fr; */
    /* grid-template-rows: 10vh 40vh 30vh 20vh; */
    grid-template: 10vh 40vh 30vh 20vh / 1fr 3fr 1fr;
    grid-template-areas: 
    "header header header"
    "nav content first-aside"
    "nav content second-aside"
    "footer footer footer";
}

.head, .foot {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 20px;
    font-size: x-large;
}

.head {
    grid-area: header;
}

.navbar, .first-aside, .second-aside {
    background-color: var(--contrast-color);
    padding: 10px;
}

.navbar {
    grid-area: nav;
}

.content {
    grid-area: content;
    background-color: var(--secondary-color);
    padding: 20px;
}

.first-aside {
    grid-area: first-aside;
    margin-bottom: 10px;
}

.second-aside {
    grid-area: second-aside;
}

.foot {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2  {
    text-transform: capitalize;
}