
/* Designa utifrån mobilen först - typ XS skärm */

body {
    background-color: darkcyan;
}

/* Dessa p-taggar är utkommenterade i HTML */
.rubrik1 {
    font-size: 6rem;
}

.rubrik2 {
    font-size: 4rem;
}

/* För att se vilken storlek på skärm utan att använda dev tools */
body::before {
    content: "XS";
    color: white;
    font-size: 2rem;
}

/* Parent/container där våra kort finns */
/* flex-direction column gör att alla kort hamnar i en kolumn på liten skärm */
.card-container {
    background-color: azure;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(25, 48, 49);
    border-radius: 8px;
    /* max-height: 300px; */
    overflow: hidden;
    width: 80%;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit:cover;
}

.card-content {
    padding: 1rem;
}

.card-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.username {
    margin: 0;
    font-weight: bold;
}

.card-description {
    line-height: 1.5;
    display: none;
}


/* Small skärm - skärmar större än 576px */
@media (min-width: 576px) {
    body::before {
        content: "S";
    }
}

/* Medium - skärmar större än 768px */
@media (min-width: 768px) {
    body::before {
        content: "M";
    }
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        /* Minskat padding så att korten får större plats */
        padding: 1rem;
    }
    .card {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
}

/* Large - skärmar större än 992px */
@media (min-width: 992px) {
    body::before {
        content: "L";
    }
    .card-description {
        
        display: block;
    }
}

/* X-large - skärmar större än 1200px */
@media (min-width: 1200px) {
    body::before {
        content: "XL";
    }
    .card {
        flex-direction: row;
        height: 300px;
    }
    .card-image {
        width: 50%;
        height: 300px;
    }
    .card-content {
        padding: 2rem;
    }

    /* Ökat container ytan något på större skärm, även mer "gap" mellan korten */
    .card-container {
        max-width: 90%;
        gap: 30px;
    }
}


/* Nedan rader är för p-taggarna som är utkommenterade */
@media print {
    .rubrik1 {
        color: blue;
    }
}

@media (orientation: landscape) {
    .rubrik2 {
        color: hotpink;
    }
}