div {
    background-color: hotpink;
}
.container {
    background-color: aqua;
}

#container {
    background-color: yellow;
}

p {
    background-color: rgb(151, 182, 151);
    color: hotpink;
    border: 1px solid black;
}

span {
    color: initial;
    /* border: inherit; */
}