body {
    margin: 5rem;
}

a:link {
    color: hotpink;
}

a:hover {
    color: aqua;
}

a:visited {
    color: darkgreen;
}

a:focus {
    color: orange;
}

input {
    background-color: aquamarine;
    display: block;
    margin: 1rem;
}

input:disabled {
    background-color: grey;
}

input:enabled {
    background-color: blue;
}

input:read-only {
    background-color: lightgrey;
}

input:required {
    background-color: green;
}

p::first-line {
    font-weight: bold;
}

p::selection {
    background-color: hotpink;
}

::selection {
    background-color: hotpink;
}

p::before {
    content: "...";
    display: block;
}

p::after {
    content: "Det var allt för idag!";
    display: block;
}


