body {
    background-color: bisque;
}

.container {
    width: 80%;
    margin: auto;
    background-color: aqua;
}

table {
    width: 80%;
    margin: auto;
    background-color: cadetblue;
    font-family: sans-serif;
}

table, 
td, 
th {
    border: 2px solid black;
    border-collapse: collapse;
    /* border-radius: 5px; */
    padding: 0.4rem;
}

thead {
    background-color: bisque;
}

tbody {
    background-color: white;
}

tfoot {
    background-color: lightblue;
    font-style: italic;
}

caption {
    background-color: inherit;
    padding: 0.4rem;
    font-weight: bold;

}

figcaption {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 0.4rem;
}

.cell8 {
    background-color: pink;
    text-align: center;
}