body {
    margin: 4rem;
    height: 200vh;
}


/* Default static */
.boxes {
    border: 3px solid red;
    /* static är default */
    /* position: static; */
    position: relative;

    /* Lägg till height för att sticky ska fungera */
    /* height: 100vh; */

}

.box {
    width: 4rem;
    height: 4rem;
}

.box-one {
    background-color: aqua;
    /* I relation till sin ursprungliga plats */
    /* position relative på denna box fungerar även om parent har position static (default) */
    /* position: relative; */
    /* top: 10px; */
    /* left: 10px; */
    /* Att box 1 hamnar över box 2 har med ordning i html och z-index att göra */
    /* Om man sätter z-index till -1 här så kommer box 2 ligga "över" box 1 */


    /* position absolute*/
    /* Utan värde top, right, bottom, left så hamnar den på den plats den har i html */
    position: absolute;
    /* Om "parent" har position static (default) så utgår box 1 från html-taggen */
    /* Om "parent" har något annat än static så utgår box 1 från sin parent */
    top: 0;
    /* Box 2 ligger fortfarande kvar under, testa z-index -1 eller lägg på en plats som inte döljer något annat, till exempel right 0 */
    /* z-index: -1; */
    /* right: 0; */
}

/* Position fixed utgår från viewport och ligger kvar vid scroll */
.box-two {
    background-color: green;
    position: fixed;
    top: 0;
    right: 0;
}

/* Sticky är lite speciellt - lägg till höjd på parent för att se hur det fungerar*/
.box-three {
    background-color: pink;
    /* position: sticky; */
    /* top 20px för att box 1 ska synas vid scroll */
    /* top: 20px; */
    
}


