
body {
    background-color: darkcyan;
}

.card-container {
    background-color: azure;
    padding: 2rem;
    display: flex;
    /* flex-direction: column; */
    max-width: 80%;
    margin: auto;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}


.card {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(25, 48, 49);
    border-radius: 8px;
    /* max-height: 300px; */
    overflow: hidden;
    width: 25%;
}

.item2 {
    height: 200px;
    order: -1;
}

.item3 {
    height: 1000px;
    order: 73;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit:cover;
}

.card-content {
    padding: 1rem;
}

.card-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.username {
    margin: 0;
    font-weight: bold;
}

.card-description {
    line-height: 1.5;
}