
/* rotera, scale, scew, transform */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: antiquewhite;
}

h1 {
    color: red;
    animation: font 2s infinite alternate-reverse
}

.box {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    padding: 2rem;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation-name: hejsan; */
    /* animation-duration: 1s; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate-reverse; */
    
}

.animation-hejsan {
    animation: hejsan 1s linear 2s infinite alternate-reverse
}





div {
    width: 500px;
    height: 300px;
    /* border: 2px solid red; */
    /* background-image: url("../images/star.png"); */
    /* background-size: 30px 30px; */
    /* animation: star 3s infinite alternate-reverse; */
    /* background-color: red; */
    /* animation: rainbow 5s infinite alternate-reverse */
    background-image: url("../images/01.jpeg");
    animation: image 10s infinite alternate-reverse

}

@keyframes image {
    0% {
        background-image: url("../images/01.jpeg");
    }
    33% {
        background-image: url("../images/02.webp");
    }
    66% {
        background-image: url("../images/03.jpeg")
    }
    100% {
        background-image: url("../images/04.webp")
    }

}


@keyframes rainbow {
    0% {
        background-color: red;
    }
    15% {
        background-color: orange;
    }
    30% {
        background-color: yellow;
    }
    45% {
        background-color: green;
    }
    60% {
        background-color: blue;
    }
    75% {
        background-color: purple;
    }
    100% {
        background-color: pink;
    }
}

@keyframes star {
    100% {background-size: 60px 60px;}
    
}


@keyframes hejsan {
    /* from {transform: skew(45deg)}
    to {transform: skew(-45deg)} */
    from {transform: scale(0.9)}
    to  {transform: scale(1.0)}
}

@keyframes font {
    from {font-size: 3rem;}
    to {font-size: 6rem;}
    
}
