/* Transformations */
/* rotera, scale, scew, transform */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: antiquewhite;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    padding: 2rem;
    transition: transform 3s cubic-bezier(.07,.9,.98,0) 4s, background 4s linear;
}


    /* transform: rotate(15deg) */
    /* transform: scale(1.5) */
    /* transform: skew(15deg); */
    /* transform: translate(-50px, -20px); */
    /* transform: translateX(150px) rotate(45deg) ; */


/* 3D transformations */

.box:hover {
    /* transform: perspective(100px) translateZ(-50px); */
    /* transform: perspective(100px) rotateX(45deg); */
    /* transform: perspective(100px) rotateY(45deg); */
    transform: rotate(45deg);
    background: hotpink;
}


