:root {
    --text-color-dark: #2c2c2c;
    --text-color-light: #fff;

    --background-dark: #383838;
    --background-light: #F1F2F3;

}
 
 body {
    font-family: "Open Sans";
    background-color: var(--background-light);
    color:var(--text-color-light);
    display: grid;
    grid-template:
    "header" 
    "main"
    "footer" 
    / 1fr;
    row-gap: 2rem;
    height: 100vh;
}


/*****************
 Header + Footer
*****************/
header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
	background: var(--background-dark);
}

header {
	min-height:10vh;
    grid-area: header;
}

 footer {
	min-height: 15vh;
    grid-area: footer;
}

header h1, footer p {
    font-weight:300;
    font-size:24px;
	letter-spacing:2px;
	text-align:center;
	text-transform:uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
input,
p,
a {
    margin: 0px;
}

.strong {
    font-weight: bold;
    font-size: 24px;
    color: var(--text-color-dark);
}

hr {
    color: var(--text-color-dark);
}


.container {
    max-width: 1200px;
    grid-area: main;
    border: 2px solid red;
    /* padding: 20px; */
    margin: 20px;
}

/* .col-xs-12 {
    width: 300px;
    height: 300px;
    border: 1px solid green;
} */

.card-text, .card-title {
    color: #2c2c2c;
}

/*****************
    Card 2
*****************/

a,
a:hover,
a:focus {
    color: inherit;
}

.profile-card-2 {
    max-width: 300px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
} 

.profile-card-2 .profile-content {
    position: relative;
    background-color: rgb(219, 163, 144);
}

.profile-card-2 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    top: -90px;
}

.profile-card-2 .profile-name p{
   letter-spacing: 1px;
}

.profile-card-2 .profile-description{
    color: var(--text-color-dark);
    font-size: 14px;
    transform: translateY(-15px);
 }

 .profile-card-2 .profile-content::before {
    content: "";
    position: absolute;
    background-color: rgb(219, 163, 144);
    height: 40px;
    top: -25px;
    left: 0;
    right: 0;
    z-index: 0;
    transform: skewY(-3deg);
 }

 .profile-card-2 .profile-icons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
 }

 .profile-card-2:hover img {
    transform: rotate(-5deg) scale(1.2, 1.2);
    filter: brightness(120%);
 }






.profile-card-1 img {
    transition: all linear 0.25s;
} 

.profile-card-1 {
    max-width: 300px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
}


.profile-card-1 .profile-name {
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: all linear 0.25s;
}

.profile-card-1 .profile-username {
    transition: all linear 0.25s;
}


.profile-card-1 .profile-icons {
    transition: all linear 0.25s;
}

.profile-card-1 .profile-icons .fa {
    margin: 5px;
}

.profile-card-1:hover .profile-name {
    bottom: 80px;
}

.profile-card-1:hover .profile-username {
    bottom: 60px;
}

.profile-card-1:hover .profile-icons {
    right: 40px;
} 

